---
layout: layouts/home.njk
fa-icon: 'fa-home'
eleventyNavigation:
key: Home
order: 1
url: /#
---
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
  <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> {{ metadata.title }}.</h1>
  <p>Capturing Your Love Story, One Meaningful Frame at a Time.</p>
  <img src="{{ 'img/w3images/author_2.webp' | url }}" alt="boy" loading="lazy" class="w3-image w3-circle"
    style="width:250px; height:250px; object-fit: cover;">
</header>


<!-- About Section -->
<div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
  <h2 class="w3-text-light-grey">Behind The Lens</h2>
  <hr style="width:200px" class="w3-opacity">
  <p>For me, wedding photography isn't just about taking pictures; it's about capturing the essence of every laugh, glance, and happy tear. I believe every couple has a unique story, and my mission is to weave that narrative into visual memories you'll cherish forever. With a personal and relaxed approach, I'll make you feel comfortable in front of the camera, ensuring every captured moment is genuine and true to you.</p>

  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">10+</span><br>
      Years of Experience
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">300+</span><br>
      Weddings Captured
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">500+</span><br>
      Happy Couples
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">250+</span><br>
      5-Star Reviews
    </div>
  </div>

  <!-- Grid for pricing tables -->
  <h3 class="w3-padding-16 w3-text-light-grey">My Price</h3>
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Elopement</li>
        <li class="w3-padding-16">4 Hours Coverage</li>
        <li class="w3-padding-16">200+ Edited Photos</li>
        <li class="w3-padding-16">Online Gallery</li>
        <li class="w3-padding-16">Print Release</li>
        <li class="w3-padding-16">
          <h2>$ 1,500</h2>
          <span class="w3-opacity">one-time</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <a href="#contact" class="w3-button w3-white w3-padding-large w3-hover-black">Book Now</a>
        </li>
      </ul>
    </div>

    <div class="w3-half">
      <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Full Day</li>
        <li class="w3-padding-16">8 Hours Coverage</li>
        <li class="w3-padding-16">500+ Edited Photos</li>
        <li class="w3-padding-16">Online Gallery & Slideshow</li>
        <li class="w3-padding-16">Engagement Session</li>
        <li class="w3-padding-16">
          <h2>$ 3,000</h2>
          <span class="w3-opacity">one-time</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <a href="#contact" class="w3-button w3-white w3-padding-large w3-hover-black">Book Now</a>
        </li>
      </ul>
    </div>
    <!-- End Grid/Pricing tables -->
  </div>

  <!-- Testimonials -->
  <h2 class="w3-text-light-grey" id="testimonials">Testimonials</h2>
  <div class="cards">
    {% for testimonial in testimonials %}
    <input type="radio" id="radio-{{ testimonial.id }}" name="radio-card" {% if loop.first %}checked{% endif %}>
    <article class="card" style="--angle:{{ testimonial.angle }}">
      <img class="card-img" loading="lazy" src="{{ testimonial.image }}">
      <div class="card-data">
        <span class="card-num">{{ loop.index }}/{{ testimonials.length }}</span>
        <h2>{{ testimonial.name }}</h3>
          <p>{{ testimonial.quote }}</p>
          <footer>
            <label for="radio-{{ testimonial.prev }}" aria-label="Previous">&#10094;</label>
            <label for="radio-{{ testimonial.next }}" aria-label="Next">&#10095;</label>
          </footer>
      </div>
    </article>
    {% endfor %}
  </div>
  <!-- End About Section -->
</div>


<!-- Portfolio Section -->
<div id="photos" class="portfolio-container">
  <h2 class="w3-text-light-grey w3-margin-bottom">A Gallery of Love Stories</h2>
  <div class="grid-container">
    {% for item in portfolio %}
    <div>
      <img class='grid-item grid-item-{{ loop.index }}' loading="lazy" src='{{ item.image }}' alt='{{ item.caption }}'>
      <p>"{{ item.name }}"</p>
    </div>
    {% endfor %}
  </div>
</div
<!-- Contact Section -->
<div class="w3-padding-64 w3-content w3-text-grey" id="contact">
  <h2 class="w3-text-light-grey">Let's Create Your Dream Wedding</h2>
  <hr style="width:200px" class="w3-opacity">

  <div class="w3-section">
    <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Chicago, US</p>
    <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
    <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
  </div><br>
  <p>Ready to capture your beautiful moments? Let's talk about your special day. Contact me for a free consultation, and let's create something beautiful together.</p>

  <form action="/action_page.php" target="_blank">
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
    <p>
      <button class="w3-button w3-light-grey w3-padding-large" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </p>
  </form>
  <!-- End Contact Section -->
</div>
